<!DOCTYPE html>
<html>
  <head>
    <title>Mode ShopInv</title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
  </head>
  <body>

    <header class="flexit">
      <h1>Decagon ShopInv</h1>
    </header>
    

    <div class="wrap">
      <p class="banner">Welcome to Decagon ShopInv</p>
      <form action="/admin/dashboard" method="POST" class="midBox">
        <h3>Login</h3>
        <br><br>
        <div class="flexit">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </div>
        <br>
        <div class="flexit">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <br><br>
        <button type="submit" class="btnCenter btnGreen">Login</button>
      </form>
      <br><br>
      <div class="midBox add">
        <h3>Not an admin?</h3>
        <br>
        <div class="flexit logOptions">
          <a href="/">Home page</a>
          <a href="/admin/signup">Register Admin</a>
        </div>
      </div>

    </div>
    <footer>
      <p>© 2023 Inventory Management System. All rights reserved.</p>
    </footer>
    
  </body>
</html>
