<!DOCTYPE html>
<html>
  <head>
    <title>Mode ShopInv</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="flexit">
      <h1>Decagon ShopInv</h1>
    </header>
    
    <div class="wrap">
      <p class="banner">Welcome to Decagon ShopInv</p>
      <div class="flexit lander">
        <img src="https://images.pexels.com/photos/9016541/pexels-photo-9016541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">

        <div class="opt">
          <br>
          <div class="flexit logOptions">
            <a href="/admin">Admin</a>
            <a href="/users">Salesman</a>
          </div>
          <br><br>
          <h3>Get started</h3>
        </div>
      </div>
      
    </div>
    
    <footer>
      <p>© 2023 Inventory Management System. All rights reserved.</p>
    </footer>
  </body>
  <script src="javascripts/index.js"></script>
</html>

