<!DOCTYPE html>
<html>
  <head>
    <title>Mode ShopInv</title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
  </head>
  <body>
    <header class="flexit">
      <h1>Decagon ShopInv</h1>
    </header>

    
    <div class="wrap">
      <div class="midBox">
        <h3 class="error"><%= message %></h3>
        <br><br>
        <p><%= data %></p>
        
      </div>
      <br><br><br>

      <div class="midBox add return">
        <a href="/users/dashboard">Dashboard</a>
    </div>

    </div>
    
    <footer>
      <p>© 2023 Inventory Management System. All rights reserved.</p>
    </footer>
   
  </body>
</html>
