<!DOCTYPE html>
<html>
  <head>
    <title>Mode ShopInv</title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
  </head>
  <body>
    <header class="flexit">
      <h1>Decagon ShopInv</h1>
      <form action="/" method="POST">
        <button type="submit">logout</button>
      </form>
    </header>
    
    <div class="wrap">
      <p class="banner">What would you like to do</p>
      <br><br>
      <div class="midBox add">
        <br>
        <div class="flexit logOptions">
            <a href="/users/dashboard/product/all">Check Inventory</a>
            <a href="/users/dashboard/sale">Make a sale</a>
        </div>
      </div>

    </div>

    <footer>
      <p>© 2023 Inventory Management System. All rights reserved.</p>
    </footer>
    
  </body>
</html>